:root {
  --map-height: 40px;
  --main-background-color:#f6f6f6;
  --titles-background-color:#2c0b2f;
                          /*  #411b45; */
  --simulation-background-color:#d5e1f0;
  --simulation-lines-color:#f6f6f6;
                         /* #5c0866 */
  --background-1:url('../images/bright-squares.png');

}

.list::-webkit-scrollbar {
    -webkit-appearance: scrollbartrack-vertical;
}

body{
    font-family: 'Montserrat';
    text-align: center;
    background-color:var(--main-background-color);
    letter-spacing:0.3px;
    padding-top:40px;

}

.footer{
position:relative;
min-height:670px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;
}

h2 {

    font-size: 3rem;
    line-height: 1.5;
}


p{
    color: #8f8f8f;
}

.nav-bar-texts-position{
max-width: 1455px;
}

/* Sections */
.landing-section{
position:relative;
height:760px;
width:auto;
background-color:var(--main-background-color);
background-image: url('/static/images/congreso.png');
background-repeat: no-repeat;
background-size: 100% 110%;
}


.explanation-section{
position:relative;
width:auto;
min-height:960px;
margin-top:0%;
background-color:var(--simulation-background-color);
padding-bottom:5%;
padding-top:5%;
margin-bottom:0%;
background-image: var(--background-1);
}

.map-section{
position:relative;
min-height:1060px;
width:auto;
margin-top:0%;
}

.main-section{
position:relative;
height:760px;
width:auto;
margin:0% 0%;
top:250px;

}

.simulation-section{
position:relative;
width:auto;
min-height:1250px;
margin-top:0%;
background-color:var(--simulation-background-color);
padding-bottom:5%;
padding-top:5%;
margin-bottom:5%;
background-image: var(--background-1);
}





/* Headings */

.landing-heading{
position:relative;
top:25%;
min-height:100px;
min-width:300px;
}

.landing-heading h1{
font-family: 'Noto Sans JP', sans-serif;
font-weight: 800;
font-size: 5.5rem;
line-height: 1.5;
color: #ffffff;
text-shadow:1px 2px 7px #000000, 6px 5px 5px #261631, 0px 1px 2px #000000;
}

.landing-heading h3{
font-family: 'Noto Sans JP', sans-serif;
font-weight: 400;
font-size: 2.5rem;
line-height: 1.5;
color: #ffffff;
text-shadow:1px 2px 7px #000000, 1px 4px 5px #000000, 0px 1px 14px #000000;
}

.explanation-heading{
position:absolute;
min-height:100px;
text-align: left;
width:900px;
left:22%;
top:150px;
}

.explanation-heading h1{
font-family: 'Noto Sans JP', sans-serif;
font-weight: 500;
font-size: 2.5rem;
line-height: 1.0;
color: var(--titles-background-color);
text-shadow: 1px 2px 4px #b1abb4;
}

.explanation-heading h3{
font-family: 'Noto Sans JP', sans-serif;
font-weight: 200;
font-size: 1.0rem;
line-height: 1.4;
color: #260b43;
white-space:pre-wrap;
}

.main-section-heading{
position:absolute;
min-height:100px;
text-align: left;
width:900px;
left:24%;
top:150px;
}

.main-section-heading h1{
font-family: 'Noto Sans JP', sans-serif;
font-weight: 500;
font-size: 2.5rem;
line-height: 1.0;
color: var(--titles-background-color);
text-shadow: 1px 2px 4px #b1abb4;
}

.main-section-heading h3{
font-family: 'Noto Sans JP', sans-serif;
font-weight: 200;
font-size: 1.0rem;
line-height: 1.4;
color: #260b43;
white-space:pre-wrap;
}


.simulation-heading{
position:absolute;
min-height:100px;
text-align: left;
width:950px;
left:50px;
top:150px;
}

.simulation-heading h1{
font-family: 'Noto Sans JP', sans-serif;
font-weight: 500;
font-size: 2.5rem;
line-height: 1.0;
color: var(--titles-background-color);
text-shadow: 1px 2px 4px #b1abb4;
margin-bottom:20px;
}

.simulation-heading h3{
font-family: 'Noto Sans JP', sans-serif;
font-weight: 400;
font-size: 1.0rem;
line-height: 1.4;
color: #260b43;
white-space:pre-wrap;
}

.big-heading {
font-family: 'Montserrat';
font-weight: bold;
font-size: 3.5rem;
line-height: 1.5;
color: #fff;
}


#title {
background-color: var(--titles-background-color);
color: #fff;
text-align: center;
padding: 0% 0% 0% 0%;
}

.container-fluid{
    padding: 3% 15% 7%;


}

.navbar {
    padding: 0.1%;
    background-color: var(--titles-background-color);
    z-index:10000;
}

.navbar-brand{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;
    font-size: 1.0rem;
    padding-top: 0rem;

}

.nav-item {
    padding: 0 18px;
    color: #fff;
}
.nav-item:hover {
    cursor:pointer;
}

.nav-link {
    font-size: 0.9rem;
    font-family: "Montserrat";
    font-weight: 100;
    color:rgba(255,255,255,0.8) !important;
    padding-left:0 !important;
    padding-right:0 !important;
}

.download-button{
    margin: 5% 3% 5% 0%;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    padding: 3%;
    position: absolute;
    right: 20%;


}

.province-svg{
max-height: 400px;
fill: #b34180;
color:blue;
}

.filter{
filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}


.myButton2 {
    position: absolute;
    top: -1px;
    left:312px;
	background:linear-gradient(to bottom, #791967  5%, #5b4172  100%);
	background-color:#f274dd;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-size:10px;
	font-weight:bold;
	padding:0;
	letter-spacing:0.1rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	height:26px;
	width:70px;
	text-align: center;
	border: 1.5px solid;
	font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;

}
.myButton2:hover {
	background:linear-gradient(to bottom, #99518c 5%, #99518c 100%);
	background-color:#4f848c;
}
.myButton2:focus {
outline: none
}



.svg-size2{
height:100%;
width:100%;
filter: drop-shadow(2px 2px 3px #685e12);

}
.svg-size2 g:hover{
filter: drop-shadow(2px 2px 100px #685e12);
}
.svg-size2 g path{
transition: all 0.5s;

}
.svg-size2 g path:hover{
cursor:zoom-in;
opacity:1;
transform: scale(1.1);
stroke: black;
stroke-width: 30px;

}

.svg-color2{
fill: red;
opacity:1;
transition: opacity 0.3s ease-in;
}




#pepe{
transform:  translate(60px, 10px) scale(3%,-3%);;

}

#pepe path{

 }
#pepe path:hover{
transform: scale(1.1);
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

#pepe2{
transition: all 0.5s;
transform: scale(50%,50%);
}

#pepe2:hover{

box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
opacity:0.3;
}

#pepito{
transform: scale(50%,50%);
}

.svg-color{
fill: #ecdd6d;
opacity:1;
stroke: 2px;
}



.country-map{
position:absolute;
background-color:var(--main-background-color);
height:700px;
width:500px;
left:10px;
top:2px;
border-radius:15px;
}

.no-senate-election{
}

.disabled-provinces{
pointer-events: none;
opacity:0.3;
}

.disabled-provinces-color{
fill: #83827c !important;
}

#Salta{
transform:  translate(60px, calc(var(--map-height) - 30px)) scale(2.8%,-2.8%);

}

#Jujuy{
transform:  translate(77px, calc(var(--map-height) - 76px)) scale(2.8%,-2.8%);
}

#Formosa{
transform:  translate(170px, calc(var(--map-height) - 24px)) scale(2.8%,-2.8%);
}

#Chaco{
transform:  translate(155px, calc(var(--map-height) - 0px)) scale(2.8%,-2.8%);
}

#Santiago_Del_Estero{
transform:  translate(115px, calc(var(--map-height) + 54px)) scale(2.8%,-2.8%);
}

#Tucuman{
transform:  translate(95px, calc(var(--map-height) - 0px)) scale(2.8%,-2.8%);
}

#Catamarca{
transform:  translate(49px, calc(var(--map-height) + 39px)) scale(2.8%,-2.8%);
}

#La_Rioja{
transform:  translate(37px, calc(var(--map-height) + 88px)) scale(2.8%,-2.8%);
}

#San_Juan{
transform:  translate(18px, calc(var(--map-height) + 100px)) scale(2.8%,-2.8%);
}

#Cordoba{
transform:  translate(100px, calc(var(--map-height) + 152px)) scale(2.8%,-2.8%);
}

#Santa_Fe{
transform:  translate(167px, calc(var(--map-height) + 130px)) scale(2.8%,-2.8%);
}

#Entre_Rios{
transform:  translate(207px, calc(var(--map-height) + 135px)) scale(2.8%,-2.8%);
}

#Corrientes{
transform:  translate(233px, calc(var(--map-height) + 58px)) scale(2.8%,-2.8%);
}

#Misiones{
transform:  translate(293px, calc(var(--map-height) + 6px)) scale(2.8%,-2.8%);
}

#Mendoza{
transform:  translate(18px, calc(var(--map-height) + 210px)) scale(2.8%,-2.8%);
}

#San_Luis{
transform:  translate(75px, calc(var(--map-height) + 177px)) scale(2.8%,-2.8%);
}

#Buenos_Aires{
transform:  translate(164px, calc(var(--map-height) + 274px)) scale(2.8%,-2.8%);
}

#CABA{
transform:  translate(285px, calc(var(--map-height) + 180px)) scale(2.8%,-2.8%);
}

#La_Pampa{
transform:  translate(64px, calc(var(--map-height) + 252px)) scale(2.8%,-2.8%);
}

#Neuquen{
transform:  translate(3px, calc(var(--map-height) + 290px)) scale(2.8%,-2.8%);
}

#Rio_Negro{
transform:  translate(11px, calc(var(--map-height) + 311px)) scale(2.8%,-2.8%);
}

#Chubut{
transform:  translate(6px, calc(var(--map-height) + 402px)) scale(2.8%,-2.8%);
}

#Santa_Cruz{
transform:  translate(16px, calc(var(--map-height) + 533px)) scale(2.8%,-2.8%);
}

#Tierra_Del_Fuego{
transform:  translate(83px, calc(var(--map-height) + 578px)) scale(2.8%,-2.8%);
}

#Islas_Malvinas{
transform:  translate(195px, calc(var(--map-height) + 525px)) scale(2.8%,-2.8%);
}

.province-results-div{
position:absolute;
background-color:#e8d46b;
min-height:200px;
width:420px;
left:380px;
top:150px;
border-radius:15px;
z-index:3;
visibility: hidden;
opacity: 0;
transition: 0.3s;
box-shadow: 0px 5px 10px 15px rgba(0, 0, 0, 0.25);
border: 3px solid var(--titles-background-color);
padding-bottom:30px;
}

.province-results-div h1{
text-align:left;
padding:2% 0 0 2%;
font-size: 1.6rem;
}

.province-results-div-hr{
position:absolute;
height:1px;
background: #411b45;
border-radius: 5px;
z-index:4;
width:400px;
top:24px;
left:10px;
opacity:0.8;
}

.temporary-results-div{
position:absolute;
background-color:#d7ba52;
min-height:200px;
padding-bottom:5%;
width:420px;
left:-2px;
top:78px;
border-radius:0px 0px 15px 15px;
border-right: 2px solid var(--titles-background-color);
border-left: 2px solid var(--titles-background-color);
border-bottom: 2px solid var(--titles-background-color);
box-shadow: 0px 15px 10px 15px rgba(0, 0, 0, 0.25);
clip-path: inset(0px -150px -100px -150px);
}

.temporary-results-div h3{
font-size: 1rem;
}

.party-results-div-top-title-spacing-div{
position:relative;
background-color:transparent;
height:7px;
width:408px;
left:0px;
}


.party-results-div{
position:relative;
background-color:var(--main-background-color);
height:30px;
width:408px;
left:3px;
margin-bottom:0.6%;
text-align:left;
}

.party-results-div h3{
font-size:0.9rem;
display:inline;
margin-left:4%;
}
.party-results-div input{
font-size:0.9rem;
display:inline;
width:4rem;
border-radius: 5px;
font-family: 'Noto Sans JP', sans-serif;
font-weight:300;
}





.province-results-sum-div{
position:relative;
background-color:var(--main-background-color);
height:30px;
width:408px;
left:3px;
margin-top:15px;
text-align:left;
border-radius:5px;
}

.province-results-sum-div h3{
font-size:1.1rem;
display:inline;
margin-left:4%;
}
.province-results-sum-div input{
font-size:0.9rem;
display:inline;
width:4rem;
background-color:#d3fece;
border-radius: 5px;
font-family: 'Noto Sans JP', sans-serif;
font-weight:300;
transition: all 0.3s;
}

.party-results-sum-alert-div{
position:absolute;
height:30px;
width:160px;
left:115px;
top:1px;
}

.party-results-sum-alert-div h3 {
font-size:0.7rem;
font-style: italic;
opacity:0.7;
}

.sum-not-hundred{
background-color:#ff0000c2 !important;
color: white !important;
font-weight:bold;
box-shadow: 0px 3px 11px 6px rgba(246, 40, 40, 0.5);
}

.national-results-div{
position:absolute;
background-color: var(--titles-background-color);
height:320px;
width:400px;
left:1100px;
top:10px;
border-radius:15px;
color:white;
text-align: left;
padding: 1% 1% 1% 0.5%;
}

.national-results-div h1{
font-size:1.2rem;
}

.temporary-national-results-div{
position:absolute;
background-color:#d3bda6;
max-height:191px;
width:390px;
left:5px;
top:80px;
border-radius:0px;
overflow-y: auto;
color:black;
}



.party-national-results-div{
position:relative;
background-color: var(--main-background-color);
height:30px;
width:373px;
margin-bottom:0.5%;
text-align:left;
}

.party-national-results-div h3{
font-size:0.9rem;
}

.info-not-relevant{
font-size:0.7rem !important;
text-align:center;
}

.allegiance-national-results-div{
position:relative;
background-color: var(--main-background-color);
height:30px;
width:390px;
margin-bottom:0.5%;
text-align:left;
}

.allegiance-national-results-div h3{
font-size:0.9rem;
}



.national-results-div-top-title-party{
position:absolute;
height:30px;
width:150px;
left:0px;
top:50px;
text-align:left;
border-right: 1px solid;
}

.national-results-div-top-title-party h3{
padding:4% 0% 0% 6%;
}

.national-results-div-top-title-allegiance{
position:absolute;
height:30px;
width:120px;
left:150px;
top:50px;
text-align:left;
padding-left:1%;
border-right: 1px solid;
}

.national-results-div-top-title-allegiance h3{
padding:5% 0% 0% 5%;
}

.national-results-div-top-title-percentage{
position:absolute;
height:30px;
width:60px;
left:270px;
top:50px;
text-align:center;
padding-left:0%;
border-right: 1px solid;
}

.national-results-div-top-title-percentage h3{
padding:9% 0% 0% 5%;
}

.national-results-div-top-title-seats{
position:absolute;
height:30px;
width:50px;
left:330px;
top:50px;
text-align:left;
padding-right:0%;
}

.national-results-div-top-title-seats h3{
padding:9% 0% 0% 10%;
}

.party-name-in-national-results{
position:absolute;
height:30px;
width:150px;
left:0px;
overflow:hidden;
}

.party-name-in-national-results h3{
padding-left:4%;
padding-top:7%;
}


.allegiance-name-in-national-results{
position:absolute;
height:30px;
width:120px;
left:150px;
padding-top:1%;
}



.party-percentage-in-national-results{
position:absolute;
height:30px;
width:70px;
left:270px;
text-align:right;
}
.party-percentage-in-national-results h3{
padding-right:26%;
padding-top:15%;
}


.party-seats-in-national-results{
position:absolute;
height:30px;
width:30px;
left:340px;
text-align:center;
}
.party-seats-in-national-results h3{
padding:35% 0 0 5%;
}


.select-allegiance{
width:120px;
font-size:0.9rem;
border-radius: 5px;
}

input{
text-align:right;
}



.party-results-div-name{
position:absolute;
height:30px;
width:150px;
left:0px;
overflow:hidden;
padding:0.8% 0 0 0;
}

.party-results-div-allegiance{
position:absolute;
height:30px;
width:100px;
left:150px;
padding:0.8% 0 0 0;
}

.party-results-div-percentage{
position:absolute;
height:30px;
width:50px;
left:280px;
top:2px;
}

.party-results-div-seats{
position:absolute;
height:30px;
width:50px;
left:338px;
text-align:right;
padding:0.8% 0 0 0;
}
.party-results-div-seats h3{
font-weight:bold !important;
font-size:0.9rem !important;
}

.party-results-div-bottom-title{
position:absolute;
height:30px;
width:150px;
left:0px;
padding: 1% 0 0 0;
}

.party-results-div-total-percentage{
position:absolute;
height:30px;
width:50px;
left:280px;
top:1px;
}

.party-results-div-total-seats{
position:absolute;
height:30px;
width:50px;
left:370px;
padding: 1% 0 0 0;
}

.subs-style{
font-size: 0.9rem;
padding-top:12px;
}

.party-results-div-top-title-party{
position:absolute;
height:30px;
width:150px;
left:0px;
top:40px;
text-align:left;
padding-left:2%;
}

.party-results-div-top-title-allegiance{
position:absolute;
height:30px;
width:100px;
left:150px;
top:40px;
text-align:left;
padding-left:2%;
}

.party-results-div-top-title-percentage{
position:absolute;
height:30px;
width:50px;
left:300px;
top:40px;
text-align:left;
padding-left:3%;
}

.party-results-div-top-title-seats{
position:absolute;
height:30px;
width:30px;
left:350px;
top:40px;
text-align:left;
padding-left:1%;
}


.show-party-results-div{
opacity: 1 !important;
visibility:visible !important;

}


.close-cross{
cursor:pointer;
color:#a80000;
position:relative;
left:175px;
bottom:35px;
}

.close-cross-detailed-seat-distribution{
cursor:pointer;
color:#a80000;
position:absolute;
right:10px;
top:5px;
}

.province-total-in-div{
color: #grey;
}



.full-results-div{
position:absolute;
background-color:transparent;
min-height:200px;
width:680px;
top:10px;
left:400px;
border-radius:15px;
}

.full-results-title-div{
position:absolute;
background-color: var(--titles-background-color);
height:50px;
width:680px;
right:0px;
top:0px;
border-radius:15px;
color: white;
}

.full-results-dynamic-div{
position:absolute;
background-color:#b4b4b4;
min-height:100px;
width:670px;
left:0px;
top:50px;
margin: 0.5% 0 0 0;
}

.province-full-results-div{
position:relative;
background-color:var(--main-background-color);
height:20px;
width:670px;
margin-bottom:0.3%;
text-align:left;
color: #434343;
transition: all 0.5s;
z-index:1;
}

.full-results-title-district{
position:absolute;
width:120px;
height:50px;
padding:2% 0 0 3%;
background-color:transparent;
text-align:left;
border-right: 1px solid;

}

.full-results-title-party{
position:absolute;
width:120px;
height:30px;
padding-top:1%;
background-color:transparent;
border-right: 1px solid;
}

.full-results-title-district h5, .full-results-title-party h5 {
font-size:1rem;
}


.full-results-title-party1{
left:120px;
}
.full-results-title-seats-party1{
left:180px;
border-right: 1px solid;
}

.full-results-title-party2{
left:240px;
}
.full-results-title-seats-party2{
left:300px;
border-right: 1px solid;
}

.full-results-title-party3{
left:360px;
}
.full-results-title-seats-party3{
left:420px;
border-right: 1px solid;
}

.full-results-title-party4{
left:480px;
}
.full-results-title-seats-party4{
left:540px;
border-right: 1px solid;
}

.full-results-title-percentage{
position:absolute;
width:60px;
height:20px;
padding-top:0%;
background-color:transparent;
top:30px;
padding-left:2%;
}

.full-results-title-seats{
position:absolute;
width:60px;
height:20px;
padding-top:0%;
background-color:transparent;
top:30px;
}

.full-results-title-percentage h5, .full-results-title-seats h5{
font-size:0.8rem;
}

.full-results-title-total-seats{
position:absolute;
width:80px;
height:50px;
top:0px;
left:600px;
background-color:transparent;
}

.full-results-title-total-seats h5{
font-size:0.9rem;
padding:10% 0 0 0;
}


.full-results-totals-div{
position:absolute;
background-color:transparent;
height:90px;
width:680px;
border-radius:15px;
z-index:1
}

.full-results-bottom-titles{
position:absolute;
width:120px;
height:22px;
padding:0.5% 0% 0% 0.5%;
background-color: var(--titles-background-color);
color:white;
z-index: 2;
text-align:left;
border-radius: 5px 0px 0px 5px;
}

.full-results-bottom-titles h5{
font-size:0.9rem;
padding: 0 0 0 2%;
}

.full-results-seats-won-title{
top:5px;
}

.full-results-seats-not-up-for-election-title{
top:35px;
}


.full-results-seats-total-title{
top:65px;
}

.full-results-bottom-results{
position:absolute;
width:120px;
height:22px;
padding-top:0%;
background-color:#e8dcdc;
z-index: 1;
}

.full-results-bottom-results h4{
font-size: 1.1rem;
}

.full-results-party1-seats-won{
top:5px;
left:120px;
}

.full-results-party1-seats-not-up-for-election{
top:35px;
left:120px;
}

.full-results-party1-seats-total{
top:65px;
left:120px;
}

.full-results-party2-seats-won{
top:5px;
left:240px;
}

.full-results-party2-seats-not-up-for-election{
top:35px;
left:240px;
}

.full-results-party2-seats-total{
top:65px;
left:240px;
}

.full-results-party1-seats-winner{
text-shadow:1px 0px 2px #e8d0d0, -1px 0px 2px grey, 0px 1px 2px grey;
color:#000;
border-radius: 5px;
border: 1px solid;
background-color:rgba(254,219,44,1);
}

.full-results-party1-seats-winner h4{
padding: 0% 0% 1% 0%;
}

.full-results-party2-seats-winner{
text-shadow:1px 0px 2px #e8d0d0, -1px 0px 2px grey, 0px 1px 2px grey;
color:#000;
border-radius: 5px;
border: 1px solid;
background-color:rgba(80,149,238,1);
}

.full-results-bottom-info-div{
position:absolute;
width:300px;
height:60px;
top:15px;
left:370px;
text-shadow:1px 0px 5px #000000;
background-color: var(--titles-background-color);
color:white;
border-radius:15px;
}

.full-results-bottom-info-div h3{
padding:6% 0 0 0;
font-size:1.1rem;
}



.province-full-results-div:hover{
overflow:hidden;
transform: scale(1.03);
box-shadow: 0 0 3pt 2pt  var(--titles-background-color);
border-radius:5px;
cursor:pointer;
background-color:#f8fcb2;
z-index:2;
}

.province-name-in-table{
position:absolute;
width:120px;
overflow:hidden;
}

.province-full-results-div h5{
font-size:0.9rem;
padding:4% 0 0 0%;
}

.province-name-in-table h3{
font-size:0.9rem;
padding:2% 0 0 2%;

}



.party1-result-in-table{
position:absolute;
width:60px;
text-align:right;
left:120px;
height: 20px;

}

.party1-seats-in-table{
position:absolute;
width:60px;
text-align:center;
left:180px;
height: 20px;
}

.party1-win{
background-color:rgba(254,219,44,0.7);
}

.party2-result-in-table{
position:absolute;
width:60px;
text-align:right;
left:240px;
height: 20px;
}

.party2-seats-in-table{
position:absolute;
width:60px;
text-align:center;
left:300px;
height: 20px;
}

.party2-win{
background-color:rgba(80,149,238,0.7);
}

.party3-result-in-table{
position:absolute;
width:60px;
text-align:right;
left:360px;
height: 20px;
}

.party3-seats-in-table{
position:absolute;
width:60px;
text-align:center;
left:420px;
height: 20px;
}

.party3-win{
background-color:rgba(169,173,180,0.7);

}

.restParties-result-in-table{
position:absolute;
width:60px;
text-align:right;
left:480px;
height: 20px;

}

.restParties-seats-in-table{
position:absolute;
width:60px;
text-align:center;
left:540px;
height: 20px;
}

.total-seats-in-table{
position:absolute;
width:80px;
text-align:center;
left:600px;
height: 20px;
}


.party-winner-results-highlight{
/* text-shadow:1px 0px 2px #e8d0d0, -1px 0px 2px grey, 0px 1px 2px grey;   */
color:#000;
border-radius: 5px 0px 0px 5px;
border-left: 1px solid;
border-top: 1px solid;
border-bottom: 1px solid;

}

.party-winner-results-highlight h5{
padding: 2% 0 0 0;
}

.party-winner-seats-highlight{
/* text-shadow:1px 0px 2px #e8d0d0, -1px 0px 2px grey, 0px 1px 2px grey; */
color:#000;
border-radius: 0px 5px 5px 0px;
border-right: 1px solid;
border-top: 1px solid;
border-bottom: 1px solid;
}

.party-winner-seats-highlight h5{
padding: 2% 0 0 0;
}

.switch-senate-house-div{
position:absolute;
height:34px;
width:300px;
margin-bottom:0%;
text-align:left;
background-color:var(--main-background-color);
left:25px;
top:10px;
border-radius:10px;
z-index:1;

}

.switch-senate-house-div h3{
font-size: 0.9rem;
}

.selected-switch{
text-shadow:1px 0px 2px #370c45, -1px 0px 2px #370c45, 0px 1px 2px #370c45;
padding-right:2%;
color:#fff
}

.selected-switch-div{
border-radius:11px;
box-shadow: 2px 8px 14px rgba(81, 15, 102, 0.25);
background-color: var(--titles-background-color);
}


.switch-house-div{
position:absolute;
height:34px;
width:100px;
left:0px;
margin-bottom:0.5%;
text-align:center;
color: #434343;
transition: all 0.5s;
padding: 3% 0 0 0%;
}

.switch-senate-div{
position:absolute;
height:34px;
width:100px;
left:180px;
margin-bottom:0.5%;
text-align:center;
color: #434343;
transition: all 0.5s;
padding: 3% 0 0 0%;
}

.slider-div{
position:absolute;
height:34px;
width:80px;
left:111px;
padding: 2% 0 0 0;
}
/* The switch - the box around the slider */
.switch-senate-house {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 24px;
  left:0px;
  padding: 3% 0 0 0;
}

/* Hide default HTML checkbox */
.switch-senate-house input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--titles-background-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--titles-background-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#results-graph{

}

.graph-div{
    position: absolute;
    background-color: var(--titles-background-color);
    height:360px;
    width: 100%;
    max-width:400px;
    left: 1100px;
    top: 335px;
    border-radius: 15px;
    color: white;
    padding: 0%;
    box-shadow: 2px 8px 14px rgba(81, 15, 102, 0.25);
}

.results-graph-dynamic-div{
position: absolute;
    background-color: var(--titles-background-color);
    height:280px;
    width: 100%;
    max-width:380px;
    right: 10px;
    top: 70px;
    border-radius: 15px;
    color: white;
    text-align: left;
    padding: 0%;
}

.results-graph-title-div{
position:absolute;
background-color: transparent;
height:30px;
width:380px;
left:10px;
top:15px;
color: white;
text-align:left;
}

.results-graph-title-div h1{
font-size:1.2rem;
}
.results-graph-title-div h3{
font-size:0.8rem;
}


.switch-parties-allegiances-div{
position:absolute;
height:34px;
width:220px;
margin-bottom:0%;
text-align:left;
background-color:var(--titles-background-color);
left:10px;
top:280px;
border-radius:10px;
z-index:1;

}

.switch-parties-allegiances-div h3{
font-size: 0.8rem;
}

.selected-switch-parties-allegiances{
text-shadow:0px 0px 0px #000;
padding-right:2%;
color:var(--titles-background-color);
}

.selected-switch-parties-allegiances-div{
border-radius:11px;
box-shadow: 2px 8px 14px rgba(81, 15, 102, 0.25);
background-color: #fff;
}


.switch-parties-div{
position:absolute;
height:24px;
width:75px;
left:5px;
top:4px;
margin-bottom:0.5%;
text-align:center;
color: #fff;
transition: all 0.5s;
padding: 2% 0 0 0%;
}

.switch-allegiances-div{
position:absolute;
height:24px;
width:75px;
top:4px;
left:155px;
margin-bottom:0.5%;
text-align:center;
color: #fff;
transition: all 0.5s;
padding: 2% 0 0 0%;
}

.slider-parties-allegiances-div{
position:absolute;
height:34px;
width:80px;
left:88px;
padding: 2% 0 0 0;
}
/* The switch - the box around the slider */
.switch-parties-allegiances {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 24px;
  left:0px;
  padding: 3% 0 0 0;
}

/* Hide default HTML checkbox */
.switch-parties-allegiances input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-parties-allegiances {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #905ba2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-parties-allegiances:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-parties-allegiances {
  background-color: #905ba2;
}

input:focus + .slider-parties-allegiances {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-parties-allegiances:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider-parties-allegiances.round {
  border-radius: 34px;
}

.slider-parties-allegiances.round:before {
  border-radius: 50%;
}


.safe-seats-select-allegiance{
width:120px;
font-size:0.9rem;
border-radius: 5px;
}

.party-change-safe-seats-div{
width:230px;
}

.allegiance-change-safe-seats-div{
left:230px;
}

.safe-seats-comment{
position:absolute;
top:18px;
left:160px;
font-size:0.9rem;
}



.buttonSeatsDetailed {
    position: absolute;
    top: 8px;
    left:277px;
	background:linear-gradient(to bottom, #875313  5%, #512709  100%);
	background-color:#f274dd;
	border-radius:9px;
	cursor:pointer;
	color:#ffffff;
	font-size:0.55rem;
	padding:0 0 0 0%;
	letter-spacing:0.1rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	height:29px;
	width:80px;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;

}

.buttonSeatsDetailed:hover {
background:linear-gradient(to bottom, var(--titles-background-color) 5%, #992386 100%);
	background-color:#4f848c;
}

.buttonSeatsDetailed:focus {
outline: none
}

.detailed-seat-distribution-div{
position:absolute;
background-color:#e6d26a;
min-height:200px;
max-width:920px;
left:480px;
top:90px;
border-radius:15px;
z-index:4;
visibility: hidden;
opacity: 0;
transition: 0.3s;
box-shadow: 0px 5px 10px 15px rgba(0, 0, 0, 0.25);
border: 3px solid var(--titles-background-color);
padding: 1% 0.4% 1% 0.4%;
overflow-x: auto;
}

.block-container {
    display: flex;
    justify-content: left;
    min-height:50px;
    min-width:200px;
    position:relative;
    padding: 0.5% 0% 0% 0%;
}

.detailed-seat-distribution-div-top-main-title{
background-color:#e6d26a;
height:30px;
max-width:320px;
padding: 0 0 0 1%;
text-align:left;
}

.detailed-seat-distribution-div-top-main-title h1{
font-style:italic;
font-size:0.9rem;
padding: 2% 0 0 0;
}

.detailed-seat-distribution-div-top-left-title{
background-color:#e6d26a;
height:50px;
min-width:150px;
border-top: 1px solid;
border-left: 1px solid;
}

.detailed-seat-distribution-div-title-seats{
position:relative;
background-color:#e6d26a;
height:25px;
min-width:150px;
left:0px;
top:-25px;
z-index:3;
}

.detailed-seat-distribution-div-title-seats h3{
position:absolute;
left:50px;
top:5px;
font-size:1rem;
}

.detailed-seat-distribution-div-arrow{
position:relative;
background-color:#e6d26a;
height:31px;
width:38px;
left:108px;
top:-38px;
z-index:2;
background-image: url("../images/arrow.png");
background-size: 100% 100%;
}

.detailed-seat-distribution-div-arrow h3{
color: var(--titles-background-color);
transform: rotate(90deg);
font-size:2rem;
}

.detailed-seat-distribution-div-title-parties{
position:relative;
background-color:#e6d26a;
height:25px;
min-width:150px;
left:0px;
top:25px;
}

.detailed-seat-distribution-div-title-parties h3{
position:absolute;
left:5px;
font-size:1rem;
}

.detailed-seat-distribution-div-arrow-parties{
position:relative;
background-color:#e6d26a;
height:22px;
width:20px;
left:72px;
top:-54px;
z-index:2;
background-image: url("../images/arrow.png");
background-size: 100% 100%;
transform: rotate(80deg) scale(1, -1);
}

.detailed-seat-distribution-div-arrow-parties h3{
color: var(--titles-background-color);
font-size:2rem;
}


.detailed-seat-distribution-div-title-seat-number{
background-color:#e6d26a;
height:50px;
min-width:50px;
padding: 1%;
margin-left:0.9px;
border-top: 1px solid;
border-left: 1px solid;
}



.detailed-seat-distribution-div-title-totals{
background-color:#e6d26a;
height:50px;
min-width:100px;
padding:2%;
margin-left:1px;
border-top: 1px solid;
border-left: 1px solid;
border-right: 1px solid;
}

.detailed-seat-distribution-div-title-totals h3{
font-size:1rem;
}


.detailed-seat-distribution-div-party-name{
background-color:#fff;
height:50px;
min-width:150px;
max-width:150px;
text-align: left;
padding:1% 0% 0% 0%;
overflow:hidden;
}

.detailed-seat-distribution-div-party-name h3{
font-size: 0.9rem;
margin-left: 4%;
}

.detailed-seat-distribution-div-party-total{
background-color:#fff;
height:50px;
min-width:100px;
padding:1.5%;
margin-left:1px;
}

.detailed-seat-distribution-div-party-total h3{
font-size:1.2rem;
}

.detailed-seat-distribution-div-each-allocation{
background-color:#fff;
height:50px;
min-width:50px;
margin-left:1px;
}

.detailed-seat-distribution-div-each-allocation h3{
font-size:1rem;
}

.detailed-seat-distribution-div-each-allocation h5{
font-size:0.6rem;
}

.allocation-winner{
border: 2px solid;
background-color: #bbf2a5;
border-radius:5px;
}

.main-section-cover-div{
position:absolute;
z-index:999;
background-color: rgba(0,0,0,0.0);
height:100%;
width:100%;
top:0;
left:0;
}

.cover-div{
position:absolute;
z-index:1000;
background-color: rgba(59,39,67,0.8)
}

.house-senate-cover-div{
height:60px;
width:370px;
top:0;
left:0;
}

.country-map-cover-div{
height:641px;
width:370px;
top:60px;
left:0;
}

.full-results-title-cover-div{
height:60px;
width:715px;
top:0px;
left:370px;
}

.full-results-first-province-cover-div{
height:25px;
width:715px;
top:60px;
left:370px;
}

.full-results-rest-provinces-cover-div{
height:506px;
width:715px;
top:85px;
left:370px;
}

.full-results-bottom-count-cover-div{
height:110px;
width:395px;
top:591px;
left:370px;
}

.full-results-bottom-info-div-cover-div{
height:110px;
width:320px;
top:591px;
left:765px;
}

.national-results-top-cover-div{
height:290px;
width:434px;
top:0px;
left:1085px;
}

.national-results-bottom-cover-div{
height:40px;
width:434px;
top:290px;
left:1085px;
}

.graph-div-top-cover-div{
height:75px;
width:434px;
top:330px;
left:1085px;
}

.graph-div-bottom-cover-div{
height:296px;
width:434px;
top:405px;
left:1085px;
}


.help-div{
position:absolute;
background-color:var(--titles-background-color);
min-height:50px;
width:420px;
left:380px;
top:200px;
border-radius:15px;
z-index:2000;
visibility: hidden;
opacity: 0;
transition: 0.3s;
box-shadow: 0px 5px 10px 15px rgba(0, 0, 0, 0.25);
border: 3px solid #e7deea;
padding:1.5% 1% 1.5% 1%;
}

.help-div h1{
text-align:left;
padding:0% 0 0 0%;
font-size: 1.2rem;
color:white;
white-space:pre-wrap;
}

.help-div h3{
line-height:1.4;
text-align:left;
font-size: 0.9rem;
color:white;
white-space:pre-wrap;
padding:3% 0% 0% 0%;
font-weight:300;
}


.help-div-hr{
position:absolute;
height:1px;
background: #411b45;
border-radius: 5px;
z-index:4;
width:400px;
top:24px;
left:10px;
opacity:0.8;
}

.help-arrow{
position:absolute;
background-color:transparent;
height:50px;
width:65px;
left:72px;
top:-54px;
z-index:2000;
background-image: url("../images/arrow.png");
background-size: 100% 100%;
transform: rotate(270deg) scale(1, -1);
color:white;
filter: invert(76%) sepia(32%) saturate(7347%) hue-rotate(261deg) brightness(85%) contrast(89%);
filter: invert(40%) sepia(99%) saturate(370%) hue-rotate(61deg) brightness(103%) contrast(95%) drop-shadow( 1px 1px 1px rgba(0, 0, 0, .8));

}


.help-slide-button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

.help-slide-svg {
  padding: 5px;
}

.help-slide-arrow {
  cursor: pointer;
  position: absolute;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
  background-color:#3c9e21;
  border-radius:10px;
  z-index:2000;
  top:620px;
  left:100px;
  border:1px solid white;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.help-slide-arrow:focus {
outline:none;
}

.help-slide-left {
  left: 350px;
}

.help-slide-right {
  left: 1120px;
}

.help-slide-left:hover polyline {
stroke-width: 5;
}

.help-slide-left:active polyline {
  stroke-width: 8;
  transition: all 100ms ease-in-out;
}

.help-slide-right:hover polyline {
  stroke-width: 5;
}

.help-slide-right:active polyline {
  stroke-width: 8;
  transition: all 100ms ease-in-out;
}

.help-slide-polyline {
stroke-width: 4;
  transition: all 250ms ease-in-out;
}

.exit-help{
  cursor: pointer;
  position: absolute;
  width: 120px;
  height: 40px;
  background-color:#c72323;
  border-radius:10px;
  z-index:2000;
  top:0px;
  left:1380px;
  border:2px solid white;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);

}

.exit-help:focus {
outline: none;
}

.exit-help h1{
font-size: 1.8rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:300;
  color:white;
  line-height:1.1
}

.help-sign{
position:absolute;
background-color:transparent;
height:15px;
width:15px;
z-index:2;
background-image: url("../images/help.png");
background-size: 100% 100%;
}
.help-sign:hover{
cursor:pointer;
}

.help-sign-map{
left:280px;
top:653px;
}

.help-sign-graph{
left:360px;
top:320px;
}

.help-sign-national-results{
left:360px;
top:290px;
filter: invert(99%) sepia(0%) saturate(1%) hue-rotate(333deg) brightness(104%) contrast(100%);
}

.help-sign-full-results{
left:99px;
top:16px;
filter: invert(99%) sepia(0%) saturate(1%) hue-rotate(333deg) brightness(104%) contrast(100%);
}

.pepe{
position:absolute;
top:400px;
}



.simulation-seats{
position:absolute;
top:144px;
min-height:100px;
width:200px;
text-align: left;
left:1250px;
align-items:center;
color: #260b43;
text-shadow: 1px 2px 4px #b1abb4;
}

.simulation-seats label{
font-size:2rem;
font-family: 'Noto Sans JP', sans-serif;
}

.simulation-seats input{
height:45px;
font-size:2rem;
width:70px;
border-radius:5px;
margin: 0 0 0 5px;
border:none;
font-family: 'Noto Sans JP', sans-serif;
background-color:var(--simulation-lines-color);
}

.simulation-seats input:focus {
outline: none
}

.simulation-div{
position: absolute;
top:300px;
left:30px;
width:1450px;
height:850px;
background-color:var(--simulation-background-color);
overflow-y: auto;
background-image: var(--background-1);
}

.simulation-results-div{
position: absolute;
top:0px;
left:0px;
width:530px;
min-height:400px;
background-color:var(--simulation-background-color);
background-image: var(--background-1);
}

.simulation-results-div-heading{
position: absolute;
top:0px;
left:0px;
width:530px;
height:100px;
background-color:var(--simulation-background-color);
background-image: var(--background-1);
}

.simulation-top-title-party{
position:absolute;
height:50px;
width:150px;
left:20px;
top:65px;
text-align:left;
padding-left:2%;
}

.simulation-top-title-allegiance{
position:absolute;
height:50px;
width:100px;
left:257px;
top:65px;
text-align:left;
}

.simulation-top-title-percentage{
position:absolute;
height:50px;
width:60px;
left:410px;
top:65px;
text-align:center;
padding-left:1%;
}

.simulation-top-title-seats{
position:absolute;
height:50px;
width:60px;
left:480px;
top:65px;
text-align:center;
padding-left:1%;
}

.party-simulation-div{
position:relative;
background-color:var(--simulation-lines-color);
height:50px;
width:520px;
left:23px;
margin-bottom:0.4%;
text-align:left;
top:104px;
border-radius:5px 0 0 5px;
}

.party-simulation-div h3{
font-size:1.5rem;
display:inline;
margin-left:4%;
}
.party-simulation-div input{
font-size:1.4rem;
display:inline;
width:75px;
border-radius: 5px;
font-family: 'Noto Sans JP', sans-serif;
font-weight:300;
background-color:var(--simulation-lines-color);
}

.new-party-simulation-div{
position:relative;
background-color:var(--main-background-color);
height:50px;
width:520px;
left:23px;
margin-bottom:0.4%;
text-align:left;
top:104px;
border-radius:5px 0 0 5px;
}

.new-party-simulation-div h3{
font-size:1.2rem;
display:inline;
margin-left:4%;
}
.new-party-simulation-div input{
font-size:1.2rem;
display:inline;
width:4rem;
border-radius: 5px;
font-family: 'Noto Sans JP', sans-serif;
font-weight:300;
}




.party-simulation-div-name{
position:absolute;
height:50px;
width:230px;
left:00px;
overflow:hidden;
padding:0.8% 0 0 0;

}

.party-simulation-div input{
cursor:pointer;
outline:none;
}


.party-simulation-div-name-input{
width:220px !important;
text-align:left;
padding: 0 0 0 1%;
margin: 0 0 0 1%;
border:none;
font-size:1.5rem;
background-color:#f6f6f6;
}



.new-party-simulation-div input{
cursor:pointer;
}

.new-party-simulation-div .party-simulation-div-allegiance{
padding:2.5% 0 0 0;
}

.new-party-simulation-div input{
width:220px;
text-align:left;
padding: 0 0 0 1%;
margin: 0 0 0 1%;
border:none;
font-style:italic;
font-size:1.5rem;
background-color:#f6f6f6;
}

.new-party-simulation-div input:focus{
outline:none;

}

.party-simulation-div-allegiance{
position:absolute;
height:50px;
width:150px;
left:230px;
padding:2% 0 0 0;
}

.party-simulation-div-allegiance input{
width:140px;
text-align:left;
padding: 0 0 0 1%;
margin: 0 0 0 1%;
border:none;
font-style:italic;
font-size:1rem;
background-color:var(--simulation-lines-color);
}

.party-simulation-div-percentage{
position:absolute;
height:50px;
width:50px;
left:385px;
top:2px;
}

.new-party-simulation-div-percentage{
position:absolute;
height:50px;
width:50px;
left:390px;
top:2px;
padding:0.2% 0 0 0;
}

.new-party-simulation-div-percentage input{
    padding: 0 0 0 20px;
font-size:1.5rem;
display:inline;
width:4rem;
border-radius: 5px;
font-family: 'Noto Sans JP', sans-serif;
font-weight:300;
text-align: center;
}


.party-simulation-div-seats{
position:absolute;
height:350px;
width:50px;
left:465px;
text-align:center;
padding:1.5% 0 0 0;
}
.party-simulation-div-seats h3{
font-weight:bold !important;
font-size:1.4rem !important;
}

.simulation-div-total-percentage{
position:absolute;
height:50px;
width:50px;
left:385px;
top:2px;
padding: 0.5% 0 0 0;
}

.simulation-results-div-bottom-title{
position:absolute;
height:30px;
width:230px;
left:0px;
padding: 1% 0 0 0;
}


.simulation-div-total-seats{
position:absolute;
height:50px;
width:50px;
left:470px;
padding: 1% 0 0 0;
}

.simulation-total-in-div{
color: #grey;
}

.simulation-sum-div{
position:relative;
background-color:var(--main-background-color);
height:50px;
width:520px;
left:23px;
margin-top:15px;
text-align:left;
border-radius:5px;
top:110px;
padding: 1% 0 0 0;
}

.simulation-sum-div h3{
font-size:1.5rem;
display:inline;
margin-left:4%;
font-weight:500;
}

.simulation-sum-div input{
font-size:1.4rem;
display:inline;
width:75px;
background-color:#d3fece;
border-radius: 5px;
font-family: 'Noto Sans JP', sans-serif;
font-weight:300;
transition: all 0.3s;
pointer-events: none;
text-align:center;
}

.simulation-detailed-seat-distribution-div{
position:absolute;
background-color:var(--simulation-background-color);
min-height:200px;
max-width:900px;
left:550px;
top:50px;
z-index:4;
transition: 0.3s;
padding:0%;
overflow-x: auto;
}

.simulation-block-container {
    display: flex;
    justify-content: left;
    min-height:50px;
    min-width:200px;
    position:relative;
    margin-bottom:2px;
    background-image: var(--background-1);
}

.simulation-block-container-bottom {
    display: flex;
    justify-content: left;
    min-height:50px;
    min-width:200px;
    position:relative;
    margin-bottom:2px;
    background-color:var(--simulation-lines-color);
}


.simulation-detailed-seat-distribution-div-top-main-title{
position:absolute;
z-index:1;
left:550px;
top:0px;
background-color:var(--simulation-background-color);
height:20px;
width:500px;
padding: 0 0 0 1%;
text-align:left;
background-image: var(--background-1);
}

.simulation-detailed-seat-distribution-div-top-main-title h1{
font-style:italic;
font-size:0.9rem;
padding: 2% 0 0 0;
}

.simulation-standarized-color{
background-color: var(--simulation-background-color);
}

.simulation-detailed-seat-distribution-div-top-left-title{
background-color:#e6d26a;
height:50px;
min-width:150px;
border-top: 1px solid;
border-left: 1px solid;
}

.simulation-detailed-seat-distribution-div-title-seats{
position:relative;
background-color:#e6d26a;
height:25px;
min-width:150px;
left:0px;
top:-25px;
z-index:3;
}

.simulation-detailed-seat-distribution-div-title-seats h3{
position:absolute;
left:50px;
top:5px;
font-size:1rem;
}

.simulation-detailed-seat-distribution-div-arrow{
position:relative;
background-color:#e6d26a;
height:31px;
width:38px;
left:108px;
top:-38px;
z-index:2;
background-image: url("../images/arrow.png");
background-size: 100% 100%;
}

.simulation-detailed-seat-distribution-div-arrow h3{
color: var(--titles-background-color);
transform: rotate(90deg);
font-size:2rem;
}

.simulation-detailed-seat-distribution-div-title-parties{
position:relative;
background-color:#e6d26a;
height:25px;
min-width:150px;
left:0px;
top:25px;
}

.simulation-detailed-seat-distribution-div-title-parties h3{
position:absolute;
left:5px;
font-size:1rem;
}

.simulation-detailed-seat-distribution-div-arrow-parties{
position:relative;
background-color:#e6d26a;
height:22px;
width:20px;
left:72px;
top:-54px;
z-index:2;
background-image: url("../images/arrow.png");
background-size: 100% 100%;
transform: rotate(80deg) scale(1, -1);
}

.simulation-detailed-seat-distribution-div-arrow-parties h3{
color: var(--titles-background-color);
font-size:2rem;
}


.simulation-detailed-seat-distribution-div-title-seat-number{
background-color:#e6d26a;
height:50px;
min-width:50px;
padding: 1%;
margin-left:0.7px;
border-top: 1px solid;
border-left: 1px solid;
}



.simulation-detailed-seat-distribution-div-title-totals{
background-color:#e6d26a;
height:50px;
min-width:100px;
padding:2%;
margin-left:1px;
border-top: 1px solid;
border-left: 1px solid;
border-right: 1px solid;
}

.simulation-detailed-seat-distribution-div-title-totals h3{
font-size:1rem;
}


.simulation-detailed-seat-distribution-div-party-name{
background-color:var(--simulation-lines-color);
height:50px;
min-width:150px;
max-width:150px;
text-align: left;
padding:1% 0% 0% 0%;
overflow:hidden;
}

.simulation-detailed-seat-distribution-div-party-name h3{
font-size: 0.9rem;
margin-left: 4%;
}

.simulation-detailed-seat-distribution-div-party-total{
background-color:var(--simulation-lines-color);
height:50px;
min-width:100px;
padding:1.5%;
margin-left:0.8px;
border-radius:0 5px 5px 0;
}

.simulation-detailed-seat-distribution-div-party-total h3{
font-size:1.2rem;
}

.simulation-detailed-seat-distribution-div-empty{
background-color:var(--simulation-lines-color);
height:50px;
min-width:150px;
text-align: left;
padding:1% 0% 0% 0%;
overflow:hidden;
}

.simulation-detailed-seat-distribution-div-each-allocation{
background-color:var(--simulation-lines-color);
height:50px;
min-width:50px;
margin-left:1px;
}

.simulation-detailed-seat-distribution-div-each-allocation h3{
font-size:1rem;
}

.simulation-detailed-seat-distribution-div-each-allocation h5{
font-size:0.6rem;
}

.simulation-allocation-winner{
border: 2px solid;
background-color: #bbf2a5;
border-radius:5px;
}

.delete-simulation-party{
font-size:0.8rem;
cursor:pointer;
color:#a80000;
position:absolute;
left:-15px;
top:12px;
}

.simulation-party-results-sum-alert-div{
position:absolute;
height:30px;
width:260px;
left:170px;
top:15px;
}

.simulation-party-results-sum-alert-div h3 {
font-size:1rem;
font-style: italic;
opacity:0.7;
}

.wrong-calculation{
top:150px;
left:505px;
position:absolute;
width:780px;
height:80px;
border:none;
background-color:var(--titles-background-color);
opacity:0;
z-index:10000;
border-radius:15px;
text-align: center;
align-items:center;
padding: 0.5% 0 0 0;
}

.general-opacity-ease-in{
opacity:1;
transition: opacity 0.3s ease-in;

}

.wrong-calculation h1{
font-size:1.8rem;
color:white
}


.button-trial{
position:absolute;
left:1300px;
top:400px;
z-index:10000;
}

.segundo{
top:450px;
}

.tercero{
top:500px;
}

.cuarto{
top:550px;
}

.quinto{
top:600px;
}


.explanation-div{
position:absolute;
width:65vw;
height:35.8vw;
margin-top:0%;
background-color: white;
padding-bottom:0%;
padding-top:0%;
margin-bottom:0%;
top:250px;
left:15%;
border: 2px solid;
transition: all 0.5s;
border-radius: 17px;
box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
}

.explanation-slide-div{
position:absolute;
width:64.75vw;
height:35.55vw;
margin-top:0%;
background-color:white;
padding-bottom:0%;
padding-top:0%;
margin-bottom:0%;
top:0px;
left:0px;
visibility: hidden;
opacity: 0;
transition: all 0.5s;
border-radius: 15px;
}

.explanation-slide-image{
position:absolute;
width:100%;
height:100%;
margin-top:0%;
background-color:white;
padding-bottom:0%;
padding-top:0%;
margin-bottom:0%;
top:0px;
left:0px;
border-radius: 15px;
}


.explanation-slide-button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

.explanation-slide-svg {
  padding: 5px;
}

.explanation-slide-arrow {
  cursor: pointer;
  position: absolute;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
  background-color:#3c9e21;
  border-radius:10px;
  z-index:2000;
  top:85%;
  left:100px;
  border:1px solid white;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.explanation-slide-arrow:focus {
outline:none;
}

.explanation-slide-left {
  left: 0%;
}

.explanation-slide-right {
  left: 100%;
}

.explanation-slide-left:hover polyline {
stroke-width: 5;
}

.explanation-slide-left:active polyline {
  stroke-width: 8;
  transition: all 100ms ease-in-out;
}

.explanation-slide-right:hover polyline {
  stroke-width: 5;
}

.explanation-slide-right:active polyline {
  stroke-width: 8;
  transition: all 100ms ease-in-out;
}

.explanation-slide-polyline {
stroke-width: 4;
  transition: all 250ms ease-in-out;
}


@media only screen and (min-width: 768px) and (max-width: 1150px){
    .map-section{
    min-height:1460px;
    }

    .national-results-div{
    top:750px;
    left:10%;
    }

    .graph-div{
    top:750px;
    left:60%;
    }
}



@media only screen and (max-width: 768px) {
    .navbar{
    height:40px;
    }
    .message-div{
    top:100px !important;
    width:70% !important;
    left:15% !important;
    padding:5.5% 3% 1.5% 3% !important;
    }

    .message-div h1{
    font-size:1.3rem !important;
    }

     .message-div h3{
    font-size:0.8rem !important;
    }

    .close-cross-landing-message{
    top:5px !important;
    left:95%!important;
    font-size:1rem!important;
    }

    .landing-heading h1{
    font-size:3rem;
    }

    .landing-heading h3{
    font-size:2rem;
    }

    .landing-section{
    position:relative;
    height:70vw;
    width:auto;
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-position-x:-5vw;
    }

    .main-section-heading, .explanation-heading, .simulation-heading {
    max-width:400px;
    height:auto;
    text-align:center;
    left:10%;
    }

    .main-section-heading h1, .explanation-heading h1, .simulation-heading h1{
    font-size:1.7rem;
    }

    .explanation-div{
    left:6%;
    width:85vw;
    height:50vw;
    }
    .explanation-slide-div {
    width:84.3vw;
    height:49.5vw;
    }

    .explanation-slide-button{
    transform:scale(0.8) !important;
    }
    .explanation-slide-left {
      left: 3%;
    }

    .explanation-slide-right {
      left: 97%;
    }

    .side-menu{
      width:80vw !important;
      height:170px !important;
      top:65% !important;
      left:10vw !important;
      text-align:center;
    }
    .congreso-div{
    left:28vw !important;
    top:-30px !important;
    }
    .senado-div{
    left:55vw !important;
    top:-10px !important;
    }
    .diputados-div{
    left:15vw !important;
    top:60px !important;
    }
    .dhondt-div{
    left:45vw !important;
    top:60px !important;
    }

    .side-menu-item{
    transform:scale(0.8) !important;
    }



    .map-section{
    height:2300px;
    }
    .country-map{
    left:10%;
    }
    .full-results-div{
    top:700px;
    left:-80px;
    transform: scale(0.6);
    }
    .national-results-div{
    top:1250px;
    left:10%;
    }

    .graph-div{
    top:1600px;
    left:10%;
    }
    .province-results-div{
    left:10%;
    }

    .message-div-results{
    top:1000px !important;
    width:70% !important;
    left:15% !important;
    }

    .message-div-results h1{
    font-size:1.4rem !important;
    }

     .message-div-results h3{
    font-size:0.8rem !important;
    }


    .button-trial{
    left:300px;
    }

    .simulation-detailed-seat-distribution-div-top-main-title{
    top:400px;
    left:5vw;
    width:450px;
    }

    .simulation-detailed-seat-distribution-div-top-main-title h1 {
    font-size:0.8rem;
    }


    .simulation-div {
    width:90vw;
    left:1%;
    }
    .simulation-seats{
    top:320px;
    left:180px;
    z-index:10;
    }

    .wrong-calculation{
    left:-130px;
        transform: scale(0.65);

    }

    .simulation-results-div{
    width:100vw;
    transform: scale(0.8);
    left:-7%;
    }
    .simulation-detailed-seat-distribution-div{
    top:400px;
    left:-60px;
    transform: scale(0.7);
    max-width:110vw
    }


}



/* Side Menu ------------------------------------------------------------------------ */

.side-menu{
  position:absolute;
  width:70px;
  height:260px;
  top:350px;
  left:83%;
  text-align:center;

  z-index:1000;
  background-color:transparent;
}

.side-menu-item{
transition: all 0.5s;
position:absolute;
}

.side-menu-item img{
position:relative;
cursor:pointer;
 filter: drop-shadow(4px 5px 5px #222);
}

.completa-div{
top:0px;
left:0px;
}

.completa-img{
width:40px;
height:100%;
}

.congreso-div{
top:40px;
left:0px;
}

.congreso-img{
width:130px;
height:100%;
left:-20px;
top:10px;
}

.senado-div{
top:140px;
left:0px;
}

.senado-img{
width:70px;
height:50%;
}

.diputados-div{
top:220px;
left:0px;
}

.diputados-img{
width:80px;
height:50%;
}


.dhondt-div{
top:280px;
left:0px;
}

.dhondt-img{
width:40px;
height:100%;
transform: rotate(-20deg);
}

.side-menu-item h2 {
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 1.2rem !important;
    color: #ffffff;
    text-align:center;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 70%), 0px 0px 5px rgb(0 0 0 / 75%), 2px 2px 0px rgb(0 0 0 / 20%);
    bottom:40px;
    left:50px;
    margin:0;
    padding:0;
    cursor: pointer;
    width:70px;
    }

.side-menu-item:hover{

transform: scale(1.1);
}

.side-menu-item-clicked{
transform: scale(1.1);
}

.side-menu-item-clicked-h2{
color:#ffd68a !important;
}




.side-menu-message-div{
position:absolute;
height:20px;
width:180px;
background-color:transparent;
transition: all 1s;
opacity:0;
visibility:hidden;
}

.side-menu-message-div h3{
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 0.7rem !important;
    font-style:italic;
    color: #000000;
    text-align:left;
    text-shadow: 0px 1px 7px rgb(var(--titles-background-color); / 70%);
    top:0px;
    left:0px;
    margin:0;
    padding:0;
}



.message-div{
position:absolute;
background-color:rgb(44,11,47,0.95);
min-height:200px;
width:48%;
left:26%;
top:280px;
border-radius:15px;
z-index:2000;
visibility: visible;
opacity: 1;
transition: all 0.3s;
box-shadow: 0px 5px 10px 15px rgba(0, 0, 0, 0.25);
border: 3px solid #e7deea;
padding:1.5% 3% 1.5% 3%;
}

.message-div-landing{
}

.message-div h1{
text-align:center;
padding:0% 0% 1% 0%;
font-size: 1.6rem;
color:white;
white-space:pre-wrap;
}

.message-div h3{
line-height:1.4;
text-align:center;
font-size: 0.9rem;
color:white;
white-space:pre-wrap;
padding:0% 3% 0% 3%;
font-weight:300;

}

.message-div-actual-message-h1{
text-align:left !important;
padding:2.5% 0% 0% 0% !important;
}

.message-div-actual-message-h3{
text-align:left !important;
width:90%
}

.read-landing-message{
font-size: 2.5rem !important;
position:absolute;
cursor:pointer;
transition: all 0.3s;
}

.read-landing-message:hover{
color: #ffd68a;
transform: scale(1.2)
}

.read-landing-message-yes{
left:30%;
}

.read-landing-message-no{
left:65%;
}

.close-cross-landing-message{
position:absolute;
color:#ffd68a;
top:10px;
left:93%;
font-size:1.5rem;
}



.footer-cafecito-div{
position:absolute;
top:10%;
left:10%;
width:70%;
height:20%;
background-color:red;
}


.footer-cafecito-div h1{
font-family: 'Noto Sans JP', sans-serif;
line-height:1.4;
text-align:left;
font-size: 2rem;
color:white;
white-space:pre-wrap;
padding:0% 0% 0% 0%;
font-weight:300;
}

.footer-cafecito-div h3{
font-family: 'Noto Sans JP', sans-serif;
line-height:1.4;
text-align:left;
font-size: 0.9rem;
color:white;
white-space:pre-wrap;
padding:0% 0% 0% 0%;
font-weight:300;
}




.footer-acknowledgments-div{
position:absolute;
top:40%;
left:10%;
width:70%;
height:20%;
background-color:blue;
}

.footer-acknowledgments-div h1{
font-family: 'Noto Sans JP', sans-serif;
line-height:1.4;
text-align:left;
font-size: 1.2rem;
color:white;
white-space:pre-wrap;
padding:0% 0% 0% 0%;
font-weight:300;
}

.footer-acknowledgments-div h3{
font-family: 'Noto Sans JP', sans-serif;
line-height:1.4;
text-align:left;
font-size: 0.9rem;
color:white;
white-space:pre-wrap;
padding:0% 0% 0% 0%;
font-weight:300;
}

.cafecito-button{
position:absolute;
top:30%;
left:50%;
}

.footer-bottom-div{
width:200px;
height:80px;
position:absolute;
bottom:20px;
left:45%;
}

.message-div-results{
visibility:hidden;
opacity:0;
transition: all 1s;
}

.message-div-results h1{
font-size:1.8rem;
}

 .message-div-results h3{
font-size:1.4rem;
}