  <!-- Footer -->

  <footer id="footer" class="footer">
    <div class="footer-cafecito-div">
        <h1>Por qué tu contribución vale mucho</h1>
        <h3>Si encontraste la página útil, aprendiste algo que no sabías, se la recomendaste a alguien, quisieras seguir teniéndola como herramienta en el futuro, o te gustaría que tuviese más contenidos y más y mejoradas presentaciones y funciones, queda en vos  ayudar a que la página se mantenga y mejore.
El portal fue pensado con el objetivo de hacer un pequeño aporte a la calidad cívica y democrática de todos los argentinos, sin distinción de banderas o preferencias políticas.
Es 100% gratuito y sin publicidades, y es la intención que así se mantega.
Si no son pocas las veces que malgastaste dinero en una mala película o en una cena insípida, tal vez puedas comprarle un cafecito a esta página, ¿no?😉

¡Muchas gracias por tu contribución!
</h3>
    </div>
    <div class="footer-acknowledgments-div">
        <h1>Agradecimientos</h1>
        <h3>A Bugs (@LaBugsBunny2023), por sus aportes al diseño. A Lorena Steffanetti, por sus sugerencias de marketing digital. A Aldana, por su asesoramiento en relación al branding.</h3>
    </div>

        <div class="footer-email-div">
            <div class="footer-email-div-i">
        <i class="icon-footer fas fa-envelope fa-2x"></i>
                </div>
        <h1>Correo</h1>
        <h3>contacto@hayquorum.com</h3>
        <h5>Hacé click para copiar la dirección</h5>
    </div>

      <img class='button-arrow' src='../static/images/button-arrow.png' alt=''>
<a class="cafecito-button" href='https://cafecito.app/hayquorum' rel='noopener' target='_blank'><img srcset='https://cdn.cafecito.app/imgs/buttons/button_3.png 1x, https://cdn.cafecito.app/imgs/buttons/button_3_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_3_3.75x.png 3.75x' src='https://cdn.cafecito.app/imgs/buttons/button_3.png' alt='Invitame un café en cafecito.app' /></a>

<div class="footer-bottom-div">
    <!--<i class="icon-footer fab fa-twitter fa-2x"></i>
    <i class="icon-footer fab fa-facebook-square fa-2x"></i>
    <i class="icon-footer fab fa-instagram fa-2x"></i>
    <i class="icon-footer fas fa-envelope fa-2x"></i>
    -->
    <p class="text-footer">© Copyright {{today_date}}</p>
    </div>
  </footer>



   <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <script src="static/js/scripts.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>
