  <!-- Footer -->

  <footer id="footer">

    <i class="icon-footer fab fa-twitter fa-2x"></i>
    <i class="icon-footer fab fa-facebook-square fa-2x"></i>
    <i class="icon-footer fab fa-instagram fa-2x"></i>
    <i class="icon-footer fas fa-envelope fa-2x"></i>

    <p class="text-footer">© Copyright {{today_date}}</p>

  </footer>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <script src="static/js/scripts.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>
